.partnerheader{
    height: 35vw;
    width: 90%;
   margin-left: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: blue;  */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4vw;
  }
  .partnerheadertext{
    /* background-color: green; */
    height: 80%;
    width: 45%;
 
  }
  .partnerheaderpic{
    /* background-color: white; */
    height: 96%;
    width: 50%;
    border-radius: 6px;
    overflow: hidden;
  }

  .partnerheaderpic img{
    height: 100%;
    width: 100%;
    transition: transform 1s ease;
  }
  .partnerheaderpic img:hover{
    transform: scale(1.1); 
    
  }
  .partnerheadertext h1{
    font-size: 3vw;
    font-weight: 500;
    padding-left: 9%;
    line-height: 4vw;
    
}
.partnerheadertext p{
    font-size: 1.5vw;
    color: gray;
    line-height: 2vw;
    padding-left: 10%;
}


@media (min-width:1px) and (max-width:425px) {
  .partnerheader{
    /* background-color: red; */
    height: 40vh;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .partnerheadertext{
    height: 50%;
    width: 95%;
    
  }
  .partnerheaderpic{
    height: 48%;
    width: 90%;
  }
  .partnerheadertext h1{
    font-size: 2.1vh;
    padding-left: 0;
    line-height: 3vh;
    padding-top: 1.5vh;
 
  }
  .partnerheadertext p{
    font-size: 1.8vh;
    padding-left: 0;
    line-height: 2.5vh;
    padding-top: 1.5vh;
  }
}