.partnerheader{
    height: 35vw;
    width: 90%;
   margin-left: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: blue;  */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4vw;
  }
  .partnerheadertext{
    /* background-color: green; */
    height: 90%;
    width: 45%;
 
  }
  .partnerheaderpic{
    /* background-color: white; */
    height: 96%;
    width: 50%;
    border-radius: 6px;
    overflow: hidden;
  }

  .partnerheaderpic img{
    height: 100%;
    width: 100%;
    transition: transform 1s ease;
  }
  .partnerheaderpic img:hover{
    transform: scale(1.1); 
    
  }

  .partnerheadertext h1{
    font-size: 3vw;
    font-weight: 500;
    padding-left: 9%;
    line-height: 4vw;
    
}
.partnerheadertext p{
    font-size: 1.5vw;
    color: gray;
    line-height: 2vw;
    padding-left: 10%;
}
.partnercount{
  height: 9vw;
  width: 90%;
  display: flex;
  /* background-color: red; */
  margin-left: 10%;
}
.partnercount h1{
  line-height: 2vw;
  padding-left: 3vw;
  padding-top: 4vh;
}
.partnercount p{
  padding-bottom: 3vw;
  line-height: 0;
  font-size: 1.3vw;
  color: rgb(48, 44, 44);
  padding-top: 2vh;
}
.partnercount1{
  height: 100%;
   width: 30%;
/*background-color:blue; */
/* display: flex;
flex-direction: column; */
/* justify-content: center;
align-items: center; */

}
.partnercount2{
  height: 100%;
  width: 30%;
/* background-color:yellow; */

}

.partnercount3{
  height: 100%;
  width: 40%;
/* background-color:orange; */

}
.partnercount img{
  height: 40%;
  width: 80%;
  padding-top: 1vw;
  padding-left: 1vw;
}
.partnercount3 p{
  font-size: 1.3vw;
  line-height: 1.5vw;
  padding-bottom: 1vw;
}


@media (min-width:1px) and (max-width:425px) {
  .partnerheader{
    /* background-color: red; */
    height: 52vh;
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
  }
  .partnerheadertext{
    height: 47%;
    width: 95%;
    
  }
  .partnerheaderpic{
    height: 40%;
    width: 90%;
  }
  .partnerheadertext h1{
    font-size: 2.1vh;
    padding-left: 0;
 
  }
  .partnerheadertext p{
    font-size: 1.8vh;
    padding-left: 0;
    line-height: 2vh;
    padding-top: 2vh;
  }
  .partnercount{
    /* background-color: blue; */
    margin-left: 0;
    width: 100%;
    margin-top: 2vh;
  }
  .partnercount h1{
    padding-left: 2.5vh;
  }
  .partnercount3 p{
    padding-right: 0;
  }
  .partnercount3 img{
    height: 5vh;
    width: 11vh;
  }
}