.transper{
    height: 48vw;
    width: 90%;
    margin-left: 5%;
    /* background-color: red; */
    margin-top: 1vw;
}
.transperhead{
    height: 8vw;
    width: 100%;
    /* background-color: green; */
    display: flex;

}
.transperhead1{
    height: 100%;
    width: 87%;
    /* background-color: blue; */
}

.transperhead1 h1{
    font-size: 3vw;
    font-weight: 500;
    /* padding-left: 9%; */
    line-height: 2vw;
    
}
.transperhead1 p{
    font-size: 1.5vw;
    color: gray;
    line-height: 1vw;
    /* padding-left: 10%; */
    padding-top: 4vh;
}
.transperhead2{
    height: 100%;
    width: 12%;
   /* background-color: blue; */
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
.transperhead2 img{
    height: 2.5vw;
    width: 2.5vw;
    margin: .7vw;
}
.transperswiper{
    height: 40vw;
    width: 100%;
    /* background-color: red; */
}
.myswipe{
    /* background-color: blue; */
    margin-left: 1vw;
    

}
.mainswiper{
    height: 39.5vw;
    width: 96%;
    /* background-color: green; */
    border: 1px solid #007bff;
    border-radius: 3px;
}
.mainswiperone{
    height: 45%;
    width: 100%;
    background-color: crimson;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mainswipertwo{
    height: 55%;
    width: 100%;
    /* background-color: yellow; */
}
.mainswipertwo p{
    font-size: 1.4vw;
    color: rgb(85, 82, 82);
    padding: 1vw;
    line-height: 1.8vw;
}
.mainswipertwo h4{
    font-size: 1.3vw;
    padding-left: 1vw;

    
}
.mainswipertwo h5{
    font-size: 1.3vw;
    padding-left: 1vw;
    padding-bottom: 2vw;
    color: gray;
    font-weight: 500;
}

@media (min-width:1px) and (max-width:425px) {
    .transper{
        /* background-color: red; */
        height: 57vh;
        width: 100%;
        margin-top: 2vh;
        margin-right: 0;
    }
    .transperhead{
        /* background-color: blue; */
        height: 12vh;
    }
    .transperhead1 h1{
        font-size: 2.5vh;
        padding-top: 2vh;
    }
    .transperhead1 p{
        font-size: 1.8vh;
        line-height: 2vh;
        padding-top: 2vh;
    }
    .transperhead2{
        display: none;
    }
    .transperswiper{
        /* background-color: blue; */
        height: 41vh;
    }
    .mainswiper{
        height: 46vh;
        width: 80%;
        /* background-color: green; */
    }
    .mainswipertwo{
        /* background-color: green; */
    }
    .mainswipertwo p{
        font-size: 1.8vh;
        line-height: 2.1vh;
        padding-top: 2vh;
    }
    .mainswipertwo h4{
        font-size: 2vh;
        line-height: 2vh;
        padding-top: 4vh;
        
    }
    .mainswipertwo h5{
        font-size: 1.5vh;
        padding-top:2.3vh ;
        padding-bottom: .5vh;
        line-height: 0;
    }
}